body {
    background-color: #3f3f3f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0f0f0;
    text-align: center;
}

h1 {
   font-size: 2.5em;
   margin: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

textarea:focus, input:focus{
    outline: none;
}


#sameValueFieldset {
    margin: 0.5em;
}

.preview {
    width: 420px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5%;
    background-color: rgb(153, 199, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea{
    resize: none;
    width: 315px;
    height: 200px;
    border-radius: 2%;
    border: none;
    background-color: #525252;
    color: #f0f0f0;
    padding: 15px;
}

button {
    margin-top: 0.2em;
}



